body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;

}
.orange-color{
    color: orange;
}
.frist-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
    
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.half-width img{
    width: 95%;
}
.profile-button{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}
.secend-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}

.secend-div img{
    width: 95%;
}
.last-section{
    display: flex;
    
}
#experiences{
    padding-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;   
}
.half-width-last{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 40px 80px;   
}
#full-stack-developer{
    border-image:linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
#baby-devoloper{
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer{
    text-align: center;
    color: gray;
}